<div class="row" id="header">
    <div>
        <img src="../../../assets/imgperfil.jpg" id="ilustracion">


<div class="row" id="perfil">
    
    <div class="tex-center col-sm-4 col-md-4 col-lg-4">
        <img src="../../../assets/0.png" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" id="nombre">
        <h1><b>{{persona.nombre}} {{persona.apellido}}</b></h1>
        <h2>Estudiante de Argentina Programa</h2>
        <h3>Mendoza-Argentina</h3>
        
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <img src="../../../assets/logosfinal.png" alt="" class="img-fluid">
        <button type="button" class="btn btn-outline-success"><a href="/login">Iniciar Sesion</a></button>
    </div>

</div>
<!-- <img id="logos" src="../../../assets/logos.jpg"> -->
</div>