<div class="row">
<div class="container">

    <a href="#contacto"  data-bs-toggle="collapse" class="btn btn-secondary"><h1>Contacto</h1></a>
    <div class="collapse" id="contacto">
    <a href=""><img src="../../../assets/linkedin.png" alt="Linkedin" id="linkedin" class="img-fluid"></a>
    <a href=""><img src="../../../assets/ws.png" alt="Whastapp" id="whastapp" class="img-fluid"></a>
    <a href=""><img src="../../../assets/instagram.png" alt="Instagram" id="instagram" class="img-fluid" ></a>
</div>

</div>
</div>