<div class="row">
    <div class="container">
<a href="#seccion"  data-bs-toggle="collapse" class="btn btn-secondary"><h1>Acerca de mi...</h1></a>  
<div class="collapse" id="seccion">
    <p>Soy un comerciante de 33 años, de Mendoza, Argentina con mucho interes en la informatica y la tecnologia, 
    estudio Redes y Telecomunicaciones en el ITU, Instituto Tecnologico Universitario de la Universidad Nacional
    de Cuyo, y encontre en Argentina Programa una gran oportunidad para introdocirme en el mundo del
    desarrollo. Si bien no es un camino facil por tiempos y distintas responsabilidades, el hecho de poder desarrollar 
    una herramienta que agilice y optimice tareas diarias de otras personas en muy motivador y desafiante. </p> 
</div>
</div>

</div>
