<div class="row">
       <a href="#experiencia" data-bs-toggle="collapse" class="btn btn-outline-secondary" class="btn btn-secondary"><h1>Experiencias</h1></a>
    <div class="collapse" id="experiencia">
    <ul>
        <li>Con respecto al desarrollo web, el armado de este portfolio es mi unica experiencia. Armar 
            proyectos de practica es mi objetivo a corto plazo.
        </li>
        <li>Armado y reparación de computadoras.</li>
        <li>Atención comercial Tintorería y lavandería “Paraná”. Propietario. Administración y atención al público.</li>
    </ul>

    </div>
</div>
