<div class="row">
   
        <a href="#habilidades"  data-bs-toggle="collapse" class="btn btn-secondary"><h1>Habilidades</h1></a>
        <div class="collapse" id="habilidades">
            <div class="row">
            <!-- <div class=" text-center col-sm-4 col-md-4 col-lg-4" id="progres">
                <h2>HTML</h2>
                <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="14"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1000"
                [showSubtitle]="false"
                [lazy]="true"
                
              ></circle-progress>
            </div> -->
            <h1 id="subtitulo"><b>Habilidades Hard</b></h1>
            <div class=" text-center col-sm-4 col-md-4 col-lg-4">
                <h2>HTML</h2>
                <circle-progress
                [percent]="90"
                [radius]="100"
                [outerStrokeWidth]="14"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"
                [showSubtitle]="false"
                [lazy]="true"

              ></circle-progress>
            </div>  
                 <div class=" text-center col-sm-4 col-md-4 col-lg-4">
                <h2>CSS</h2>
                <circle-progress
                [percent]="80"
                [radius]="100"
                [outerStrokeWidth]="14"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"
                [showSubtitle]="false"
                [lazy]="true"
            
              ></circle-progress>
            </div>       
            <div class=" text-center col-sm-4 col-md-4 col-lg-4">
                <h2>Java Script</h2>
                <circle-progress
                [percent]="60"
                [radius]="100"
                [outerStrokeWidth]="14"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"
                [showSubtitle]="false"
                [lazy]="true"
                    
              ></circle-progress>
            </div>       
            <h1 id="subtitulo"><b>Habilidades Soft</b></h1>
            <div class=" text-center col-sm-4 col-md-4 col-lg-4">
                <h2>Interpersonales</h2>
                <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="14"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"
                [showSubtitle]="false"
                [lazy]="true"
                  
              ></circle-progress>
            </div>       
            <div class=" text-center col-sm-4 col-md-4 col-lg-4">
                <h2>Flexibilidad</h2>
                <circle-progress
                [percent]="70"
                [radius]="100"
                [outerStrokeWidth]="14"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"
                [showSubtitle]="false"
                [lazy]="true"
                  
              ></circle-progress>
            </div>       
            <div class=" text-center col-sm-4 col-md-4 col-lg-4">
                <h2>Integridad</h2>
                <circle-progress
                [percent]="90"
                [radius]="100"
                [outerStrokeWidth]="14"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"
                [showSubtitle]="false"
                [lazy]="true"
                
              ></circle-progress>
            </div>
        </div>

      
    
    </div>
    
