
img {
    height: 80px;
    width: 80px;
    margin: 5px;
}

.row{
   padding: 20px;
   border-bottom: dotted gray;
}

#logos{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}