
<div class="row">
    <div class="container">
        <a href="#estudio" data-bs-toggle="collapse" class="btn btn-secondary"><h1>Formacion Academica</h1></a>
        <div class="collapse" id="estudio">
        <ul>
        <li>Cursando Argentina Programa</li>
        <li>Cursando Segundo Año Redes de Datos y Telecomunicaciones en ITU, Universidad Nacional de Cuyo.</li>
        <li>2020 “Mantenimiento y reparación de PC”. Formación en escuela Newton.</li>
        <li>2010 Capacitación en manejo y mantenimiento de recipientes sometidos a presión con y sin fuego. (calderista) Formación en UTN. </li>
        </ul>
    </div>
    </div>
</div>
